CMakeLists.txt
.idea/ft_printf.iml
*.xml
cmake-build-debug/CMakeCache.txt
*.cmake
cmake-build-debug/CMakeFiles/3.7.2/CMakeDetermineCompilerABI_C.bin
*.bin
cmake-build-debug/CMakeFiles/3.7.2/CompilerIdC/a.exe
*.exe
*.cpp
*.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
*.log
*.cxx
*.make
cmake-build-debug/CMakeFiles/ft_printf.dir/C.includecache
*.internal
*.o
cmake-build-debug/CMakeFiles/feature_tests.c
cmake-build-debug/CMakeFiles/progress.marks
*.cbp
cmake-build-debug/ft_printf.exe.stackdump
cmake-build-debug/CMakeFiles/3.7.2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/ft_printf_d.dir/C.includecache